<!-- <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
  <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Home Work</a>
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <%= link_to '#', class: 'nav-link' do %>
        <span><i class="fas fa-user"></i></span>
      <% end %>
    </li>
    <li class="nav-item text-nowrap">
      <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
        <span><i class="fas fa-sign-out-alt"></i></span>
      <% end %>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span><i class="fas fa-home"></i></span>
              Dashboard <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <%= link_to dashboard_orders_path, class: 'nav-link' do %>
              <span><i class="fas fa-shopping-cart"></i>
                Orders</span>
            <% end %>
          </li>
        </ul>
      </div>
    </nav>
    <main class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4 mainbar">
      <p>Welcome to dashboard</p>
      <nav class="navbar navbar-dark sticky-bottom bg-dark flex-md-nowrap p-0">
    </div>
  </div>
</div>
 -->

<p>Welcome to dashboard</p>
