<h2>Edit order</h2>
<%= form_for([:dashboard, @order]) do |f| %>
  <%= render 'shared/error_messages' %>
  <p>
    <%= f.label :status %>
    <%= f.collection_select(:status, Order.statuses.keys, :to_s, :to_s, include_blank: false) %>
  </p>
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>
