<div class="row">
  <div class="col-lg-12 card-margin">
    <h4>Search</h4>
    <div class="search-form">
      <div class="card-body p-0">
        <form id="search-form">
          <div class="row">
            <div class="col-12">
              <div class="row no-gutters">
                <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                  <%= select_tag "status", options_from_collection_for_select(Order.statuses.keys.unshift('status'), :to_s, :to_s, selected: params[:status], include_blank: true), class: 'form-control' %>
                </div>
                <div class="col-lg-8 col-md-6 col-sm-12 p-0">
                  <!-- <input type="text" placeholder="User email..." class="form-control" id="search" name="search"> -->
                  <%= text_field_tag :user_email, params[:user_email], placeholder: 'user@example.com', class: 'form-control' %>
                </div>
                <div class="col-lg-1 col-md-3 col-sm-12 p-0">
                  <button type="submit" class="btn btn-base">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<table class="table table-bordered">
  <thead class="thead">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Product Name</th>
      <th scope="col">User Email</th>
      <th scope="col">Status</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></th>
        <td><%= order.product_name %></td>
        <td><%= order.user.email %></td>
        <td><%= order.status %></td>
        <td>
          <%= link_to edit_dashboard_order_path(order) do %>
            <span><i class="fas fa-edit"></i></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @orders %>
