<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Home Work</a>
<ul class="navbar-nav px-3">
  <li class="nav-item text-nowrap">
    <%= link_to '#', class: 'nav-link' do %>
      <span><i class="fas fa-user"></i></span>
    <% end %>
  </li>
  <li class="nav-item text-nowrap">
    <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link' do %>
      <span><i class="fas fa-sign-out-alt"></i></span>
    <% end %>
  </li>
</ul>
