<div class="sidebar-sticky">
  <ul class="nav flex-column">
    <li class="<%= 'active' if params[:controller] == 'dashboard' %> nav-item">
      <%= link_to dashboard_path, class: "nav-link" do %>
        <span><i class="fas fa-home"></i>
          Dashboard</span>
      <% end %>
    </li>
    <li class="<%= 'active' if params[:controller] == 'dashboard/orders' %> nav-item">
      <%= link_to dashboard_orders_path, class: 'nav-link' do %>
        <span><i class="fas fa-shopping-cart"></i>
          Orders</span>
      <% end %>
    </li>
  </ul>
</div>
